<template>
    <section>
        <div class="card" v-if="product != null">
            <div class="card-header">{{ product.name }}</div>
            <div class="card-body">
                <div v-html="product.description"></div>
            </div>
            <div class="card-body">
                <router-link to="/" class="btn btn-primary btn-sm"><i class="fa fa-arrow-left"></i> Back</router-link>
            </div>
        </div>
        <div v-else>
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "ProductDetails",
        data() {
            return {
                product: null
            }
        },
        methods: {
            getProduct() {
                axios.get(`/api/product/${this.$route.params.id}`).then(response => {
                    this.product = response.data.data[0];
                    // console.log(response.data);
                }).catch(e => {
                    console.error(e);
                });
            }
        },
        mounted() {
            this.getProduct();
        }
    }
</script>

<style scoped>

</style>
